
html {
    height: 100%;
}

body {
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background: url(../background.jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */
    font-size: 22pt;
    line-height: 2;
    text-align:  center;
    display: flex;
    justify-content: center;

}




.main {
    padding: 2%;
    opacity: 0.8;
    background: white;
    /*   height: 70%;
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0; */
    margin: auto;
    /*  padding: auto;*/
    overflow: auto;

}

.green {
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    background: green;
}

.green:hover {
    background: blue;
}

.green:active {
    background: deepskyblue;
}

input{
    width: auto;
    padding: 2%;
    margin: 1%;
    line-height: initial;

}


.past {
    color: lightgrey;

}